// Import page-specific CSS files here.
@import "home";

.login-form {
  text-align: center;
}

.card {
  display: grid;
  text-align: center;
}

.main-title {
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.post-title {
  text-align: center;
}

.link {
  text-align: center;
  width: 200px;
}
